* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: aliceblue;
  background-color: rgb(23, 22, 21);
}

h1 {
  text-align: center;
}

.input-container {
  border-radius: 1rem;
  padding: 1.6rem;
  background-color: white;
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.input-list-container {
  border-radius: 1rem;
  padding: 1.6rem;
  background-color: white;
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.input-list-item {
  border: solid rgb(188, 188, 188);
  padding: 0.6rem;
}

strong {
  color: black;
}

button {
  color: white;
  background-color: blueviolet;
  margin-top: 1rem;
  width: 30%;
}

li {
  text-align: center;
  background-color: white;
  color: black;
  width: 40%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 1rem;
  list-style: none;
}

p {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.modal-show {
  text-align: center;
  background: white;
  color: black;
  width: 40%;
  margin: auto;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  border-radius: 1rem;
}

.modal-hidden {
  display: none;
}
